.comment
	%p= comment.comment
	%p= comment.user.email
	= link_to "Edit", edit_post_comment_path(comment.post, comment)
	= link_to "Delete", [comment.post, comment], method: :delete, data: { confirm: "Are you sure?" }